.md-typeset{
	font-size: 12px;
}
ul li, p{
	font-size:12px;
}
p code{
	background: #f0f2f1 !important;
	color: #f4645f !important;
}
pre code{
	font-size: 12px !important;
}
.md-typeset code, .md-typeset pre {
	background-color: hsla(0,0%,92.5%,.5);
	color: #37474f;
	font-size: 100%;
	direction: ltr;
}
.md-content ul,.md-content ul li {
	margin-left:0;
}
.md-content ul li {
	list-style: none;
	background: #efefef;
	padding: 1px 5px;
}
p code {
	padding: 1px 5px !important;
}
.md-typeset .md-typeset__table{
	display: block;
}

.logo{
	width: 100%;
}
.md-typeset pre > code {
	white-space: break-spaces;
}